@use 'variables'; // Importa o arquivo de variáveis para utilizar no estilo do rodapé

footer {
    background-color: variables.$primary-color; // Define a cor de fundo do rodapé usando a variável de cor primária
    padding: 2rem; // Define um espaçamento interno de 2rem ao redor do conteúdo do rodapé
    text-align: center; // Alinha o texto no centro do rodapé
    color: #fff; // Define a cor do texto como branco

    ul {
        list-style-type: none;
    }

    .container-footer {
        display: flex; // Usar flexbox para a estrutura do rodapé
        justify-content: space-around; // Espaço igual entre os elementos
        align-items: center; // Alinha os itens verticalmente ao centro
        flex-wrap: wrap; // Permite que os itens se movam para a próxima linha em telas menores
    }

    .minu-menu {
        display: flex;

        li {
            color: #fff;
            cursor: pointer;
            font-family: 'Allura', sans-serif;
            font-size: 25px;
            margin: 5px;
        
            a {
                 color: #fff; /* Substitua 'black' pela cor desejada */
                text-decoration: none; /* Remove o sublinhado do texto do link */
                

                /* Se você quiser adicionar um efeito ao passar o mouse sobre o link */
                &:hover {
                    color: #000; /* Muda a cor do texto ao passar o mouse, se desejado */
                }
            }

            &:hover {
                color: variables.$text-color;
            }
        }
    }

    .social-icons-footer {
        display: flex;
        align-items: center; // Alinha os ícones verticalmente ao centro

        a {
            text-decoration: none; /* Remove o sublinhado */
            cursor: pointer;
            border: 1px solid #fff;
            border-radius: 10px;
            padding: 5px; // Adiciona algum preenchimento ao redor do ícone
            margin: 5px;

            &:hover {
                border: 1px solid variables.$text-color;
            }
        }

        img {
            width: 35px;
            height: 35px;
        }
    }

    p {
        margin: 0; // Remove qualquer margem dos parágrafos dentro do rodapé
        font-family: 'ArchitectsDaughter-Regular', sans-serif;
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .container-footer {
        flex-direction: column; // Alinha os elementos em coluna em dispositivos móveis
        align-items: center; // Centraliza os itens na coluna
        margin: 0;
        padding: 0;
    }

    .minu-menu {
        margin-left: 0; // Remove a margem à esquerda para centralizar
        padding-left: 0;
        margin: 0;
        padding: 0;
    }

    .social-icons-footer {
        margin-top: 10px; // Adiciona um espaço entre o menu e os ícones sociais
    }
    p {
        margin-top: 10px; // Remove qualquer margem dos parágrafos dentro do rodapé
    }
}
